# btop
.config/btop/
# .config/btop/btop.log

.config/kitty/current-theme.conf
.config/kitty/kitty.conf.bak

.config/ranger/colorschemes/__pycache__/__init__.cpython-311.opt-1.pyc
.config/ranger/colorschemes/__pycache__/dracula.cpython-311.opt-1.pyc

config.mk
build
**/__pycache__
__pycache__
.ltex
